.londoner__table {
}

.londoner__head {
}

.londoner__content {
}

.londoner__cell--id {
  width: 10%;
}

.londoner__cell--first_name {
  width: 25%;
}

.londoner__cell--last_name {
  width: 25%;
}

.londoner__cell--email {
  width: 40%;
}


@media only screen and (max-width: 48rem)  {

  .londoner__cell--id, .londoner__cell--first_name, .londoner__cell--last_name, .londoner__cell--email {
    width: 50%;
  }
}
