table {
  border-collapse: collapse;
  border: 2px solid dimgrey;
  width: 100%;
  overflow: hidden;
}

thead td {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

tr:nth-child( 2n ) {
  background-color: gainsboro;
}

td {
  padding: 0.5rem;
  width: 100%;
  border-bottom: 2px solid dimgrey;
}

@media only screen and (max-width: 48rem)  {

  table, thead, tbody, th, td, tr { 
    display: block; 
  }


  thead tr { 
    opacity: 0;
    position: absolute;
  }

  tr:not( :last-child ) {
    border-bottom: 2px solid dimgrey;
  }

  td { 
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
  }


  td:before { 
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 50%; 
    white-space: nowrap;
  }

  td:nth-of-type(1):before { content: 'ID';  }
  td:nth-of-type(2):before { content: 'First Name';  }
  td:nth-of-type(3):before { content: 'Last Name';  }
  td:nth-of-type(4):before { content: 'Email';  }
}
